@charset "UTF-8";
/* ÍNDICE

1. Tipografías
2. Etiquetas básicas
3. Barra de navegación
4. Imágenes y vídeos
5. Organizaciones de secciones
6. Organizacion Mancha Index
7. Galería con grid
8. Cartas que voltean
9. Página de error 404
10. Bucles, each, mapas y animaciones
11. Media queries*/
/* 1. Tipografías*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*font-family: 'Josefin Sans', sans-serif;*/
/* 2. Etiquetas básicas
Estilos principales que se van a usar en casi todas las páginas y que son etiquetas principales*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../rsc/img/brickwallWhite.png); }

header {
  background-image: url(../rsc/img/brickwall.png); }

footer {
  background-image: url(../rsc/img/brickwall.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem; }

h1 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  color: orange;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700; }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #4d2d75;
  font-weight: bolder; }

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: justify;
  line-height: 2.5rem; }

/* 3. Barra de navegación*/
.menu {
  padding: 2rem; }

.hamburguer {
  background-image: url(../rsc/img/manchaMenu.png);
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  max-width: 20rem;
  max-height: 20rem; }

.orgNavbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.styleToggler {
  width: 8rem;
  height: 8rem;
  margin-right: 3rem;
  border-radius: 5rem; }

.button1 {
  /* es el estilo de los botones de navegación*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  max-width: 25rem;
  max-height: 25rem;
  padding: 1.5rem; }
  .button1:hover {
    color: gold;
    transform: scale(1.25);
    background-image: url(../rsc/img/ManchaNavbar.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat; }

.submenuNav {
  background-color: transparent;
  border: none; }
  .submenuNav li {
    text-decoration: none;
    color: #3f003f;
    background-color: #d48ff1;
    border-radius: 1rem;
    border-style: solid;
    border-color: #d45ad4;
    box-sizing: border-box; }
  .submenuNav a {
    text-decoration: none;
    color: darkmagenta; }
    .submenuNav a:hover {
      color: white; }
  .submenuNav .buttonSubmenu {
    margin: 0;
    padding: 0; }

/* 4. Imágenes y vídeos*/
.señalador {
  width: 2.5rem;
  filter: hue-rotate(95deg);
  margin: 6%;
  animation: changeColor 7s infinite; }

.imgInicio {
  width: 65rem;
  padding: 1.5rem; }

.imgWidth {
  width: 100%;
  padding: 1.5rem; }

.dimensionesVideos {
  width: 100%;
  border-radius: 2.5rem;
  display: flex;
  align-content: center;
  padding: 1rem; }

.mainVideo {
  width: 50%;
  border-radius: 2.5rem;
  display: flex;
  align-content: center; }

.imgCarrusel {
  border-radius: 2.5rem;
  width: 50%; }

.nombresPropios {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: oblique;
  font-size: 2rem;
  color: turquoise; }

.imagenesPersonajes {
  margin: 3rem; }

.styleList {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-left: 4rem; }

.distanceButton {
  margin: 0 10%; }

.buttonCarrouselLeft {
  width: 25%;
  height: 10%;
  background-image: url(../rsc/img/squidLeft.png);
  background-size: contain;
  animation: changeColor 10s infinite; }

.buttonCarrouselRight {
  width: 25%;
  height: 10%;
  z-index: 1;
  background-image: url(../rsc/img/squidRight.png);
  background-size: contain;
  animation: changeColor 10s infinite; }

/* 5. Organizaciones de secciones*/
.borderSection {
  margin: 1.5rem;
  padding: 1rem 3rem 1rem 3rem; }

.orgActive {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 0 3rem; }

.orgPersonajes {
  display: flex;
  flex-direction: row;
  align-content: center; }

.orgHistoria {
  display: flex;
  flex-direction: column; }

.textosPersonajes {
  text-align: center;
  color: darkmagenta; }

.orgFooter {
  display: flex;
  justify-content: center;
  align-items: center; }

.copyright {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.orgCenter {
  display: flex;
  flex-direction: column;
  align-items: center; }

.orgMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.backgroundMode {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 45%; }

.orangePersonal {
  border-radius: 1rem;
  background-color: rgba(250, 90, 0, 0.35); }

.bluePersonal {
  border-radius: 1rem;
  background-color: rgba(40, 81, 246, 0.35); }

.purplePersonal {
  border-radius: 1rem;
  background-color: rgba(40, 81, 246, 0.35); }

.pinkPersonal {
  border-radius: 1rem;
  background-color: rgba(249, 49, 149, 0.35); }

.aquamarinePersonal {
  border-radius: 1rem;
  background-color: rgba(0, 200, 180, 0.35); }

.yellowgreenPersonal {
  border-radius: 1rem;
  background-color: rgba(160, 204, 10, 0.35); }

/*6. Organizacion Mancha Index*/
.orgUpIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.OrgManchaYTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.mancha {
  background-image: url(../rsc/img/manchanaranja.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 46rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .mancha h2 {
    color: white;
    margin-right: 2.5rem; }

/* 7. Galería con grids*/
/* Esta es la galería que incorporé a la web. Le hice un responsive que es bastante mejorable, pero el resto de la web si es responsive */
.gridPadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis" "imagenSiete imagenOcho imagenNueve"; }

.imagenGaleria {
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
  padding: 0.5rem;
  border-radius: 2.5rem; }
  .imagenGaleria:hover {
    filter: grayscale(0%);
    transform: scale(1.15);
    z-index: 1; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.imagenCuatro {
  grid-area: imagenCuatro; }

.imagenCinco {
  grid-area: imagenCinco; }

.imagenSeis {
  grid-area: imagenSeis; }

/* 8. Cartas que voltean*/
.cards {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.cards__body {
  margin: 2% 4%;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 30rem;
  box-sizing: border-box; }

.flipCard {
  background-color: transparent;
  height: 35rem;
  /* Es necesario una altura para que aparezca en la página */
  border: 0px;
  perspective: 300rem;
  /* Genera un efecto 3D */ }

.flipCardInner {
  /* Este contenedor nos posiciona los dos lados de la tarjeta */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d; }

.flipCard:hover .flipCardInner {
  /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
  transform: rotateY(180deg);
  /*transform: rotateX(180deg);*/
  /*si lo quieres con giro vertical*/ }

.flipCardFront,
.flipCardBack {
  /* Estructura básica de las dos caras */
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  padding: 1.2rem;
  max-width: 25rem;
  max-height: 30rem;
  border-width: 0.5rem;
  /*background: linear-gradient(to bottom, rgba(135, 207, 235, 0.8), rgba(255, 255, 255, 0.5) 80%);*/
  display: flex;
  flex-direction: column;
  align-items: center; }

.flipCardFront {
  border-style: inset;
  border-radius: 3rem;
  display: flex;
  justify-content: center; }

.flipCardBack {
  /* Estructura específica de la cara trasera */
  /*background-color: dodgerblue;*/
  color: white;
  transform: rotateY(180deg);
  border-style: outset;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box; }

.cards__image {
  width: 95%;
  height: 80%; }

.cards__tittle {
  color: #4d2d75;
  font-size: 2.3rem; }

.cards__name {
  color: #4d2d75;
  font-size: 1.8rem; }

/*9. Página de error 404*/
.errorBody {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .errorBody .error404 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../rsc/img/manchaError.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    width: 80rem;
    height: 80rem; }
    .errorBody .error404 p {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      line-height: auto;
      color: floralwhite;
      font-size: 3rem;
      text-align: center;
      text-indent: 0.5rem;
      padding: 0 2rem 0 0; }

/*10. Bucles, each, mapas y animaciones */
/*Este es el bucle que usé para crear el tamaño de todos los titulos de mi página web*/
h1 {
  font-size: 5em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.66667em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.83333em; }

/*Este es el each que usé para cambiar los iconos del footer*/
.iconoTwitter {
  background-image: url(../rsc/img/IconoTwitter.png);
  background-size: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2rem 0 2rem; }

.iconoInstagram {
  background-image: url(../rsc/img/IconoInstagram.png);
  background-size: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2rem 0 2rem; }

.iconoYoutube {
  background-image: url(../rsc/img/IconoYoutube.png);
  background-size: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2rem 0 2rem; }

/*Este es el mapa que he usado para crear los colores de fondo de las cartas de la sección Personajes*/
.fondoCartaUno {
  background-color: rgba(224, 54, 153, 0.4);
  border-color: rgba(224, 54, 153, 0.4); }

.fondoCartaDos {
  background-color: rgba(58, 189, 199, 0.5);
  border-color: rgba(58, 189, 199, 0.5); }

.fondoCartaTres {
  background-color: rgba(71, 192, 77, 0.5);
  border-color: rgba(71, 192, 77, 0.5); }

.fondoCartaCuatro {
  background-color: rgba(235, 77, 77, 0.35);
  border-color: rgba(235, 77, 77, 0.35); }

.fondoCartaCinco {
  background-color: rgba(233, 230, 20, 0.4);
  border-color: rgba(233, 230, 20, 0.4); }

.fondoCartaSeis {
  background-color: rgba(158, 230, 76, 0.5);
  border-color: rgba(158, 230, 76, 0.5); }

.fondoCartaSiete {
  background-color: rgba(250, 127, 12, 0.5);
  border-color: rgba(250, 127, 12, 0.5); }

.fondoCartaOcho {
  background-color: rgba(136, 42, 190, 0.404);
  border-color: rgba(136, 42, 190, 0.404); }

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(180deg); }
  100% {
    filter: hue-rotate(0deg); } }

/* 11. Media Querys de tamaños 320px - 400px - 550px - 835px - 1000px - 1233px*/
@media only screen and (min-width: 320px) {
  .orgUpIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .mainVideo {
    width: 100%; }
  h1 {
    text-align: center;
    font-size: 4rem; }
  .imgInicio {
    width: 20rem;
    height: 20rem; }
  .imagenesPersonajes {
    width: 10rem;
    height: 10rem; }
  .buttonCarrouselLeft {
    width: 15rem;
    height: 3rem; }
  .buttonCarrouselRight {
    width: 15rem;
    height: 3rem; }
  .backgroundMode {
    width: 75%; }
  #galeria {
    margin: 1rem; }
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagenUno" "imagenDos" "imagenTres" "imagenCuatro" "imagenCinco" "imagenSeis" "imagenSiete" "imagenOcho" "imagenNueve"; }
  .errorBody .error404 p {
    width: 18rem;
    font-size: 2rem; }
  .copyright {
    padding: 1rem 5rem;
    text-align: center; } }

@media only screen and (min-width: 320px) and (min-width: 400px) {
  .imgInicio {
    width: 30rem;
    height: 30rem; }
  .imagenesPersonajes {
    width: 20rem;
    height: 20rem; }
  .buttonCarrouselLeft {
    height: 5rem; }
  .buttonCarrouselRight {
    height: 5rem; } }

@media only screen and (min-width: 320px) and (min-width: 550px) {
  .imgInicio {
    width: 40rem;
    height: 40rem; }
  .imagenesPersonajes {
    width: 30rem;
    height: 30rem; }
  .errorBody .error404 p {
    width: 30rem;
    font-size: 3rem;
    line-height: normal; } }

@media only screen and (min-width: 320px) and (max-width: 835px) {
  .button1 {
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin: 1rem; }
    .button1:visited {
      color: white; } }

@media only screen and (min-width: 320px) and (min-width: 835px) {
  .orgUpIndex {
    display: flex;
    flex-direction: column; }
  .OrgManchaYTitulo {
    padding-right: 3rem; }
  .mancha {
    width: 30rem;
    height: 30rem; }
    .mancha h2 {
      font-size: 1.3rem; }
  #galeria {
    margin: 4rem; }
  .errorBody .error404 p {
    width: 50rem;
    font-size: 4rem;
    line-height: normal; } }

@media only screen and (min-width: 320px) and (min-width: 1000px) {
  .backgroundMode {
    width: 45%;
    flex-wrap: wrap; }
  .buttonCarrouselLeft {
    height: 7rem; }
  .buttonCarrouselRight {
    height: 7rem; }
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis" "imagenSiete imagenOcho imagenNueve"; } }

@media only screen and (min-width: 320px) and (min-width: 1233px) {
  .orgUpIndex {
    display: flex;
    flex-direction: row; }
  .mainVideo {
    width: 50%; } }
