/* ÍNDICE

1. Tipografías
2. Etiquetas básicas
3. Barra de navegación
4. Imágenes y vídeos
5. Organizaciones de secciones
6. Organizacion Mancha Index
7. Galería con grid
8. Cartas que voltean
9. Página de error 404
10. Bucles, each, mapas y animaciones
11. Media queries*/


/* 1. Tipografías*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

/* 2. Etiquetas básicas
Estilos principales que se van a usar en casi todas las páginas y que son etiquetas principales*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../rsc/img/brickwallWhite.png);
}

header {
    background-image: url(../rsc/img/brickwall.png);
}

footer {
    background-image: url(../rsc/img/brickwall.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    color: orange;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: brown;
    font-size: 2.5rem;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 2.5rem;
}

/* 3. Barra de navegación*/

.menu {
    padding: 2rem;
}

.hamburguer {
    background-image: url(../rsc/img/hamburguer.png);
    background-size: cover;
}

.logo {
    max-width: 20rem;
    max-height: 20rem;
}

.orgNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.styleToggler {
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
    background-color: violet;
    border-radius: 5rem;
}

.button1 {
    /* es el estilo de los botones de navegación*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    max-width: 25rem;
    max-height: 25rem;
    padding: 1.5rem;
    margin: 0 3rem;

    &:hover {
        color: gold;
        transform: scale(1.25);
        background-image: url(../rsc/img/ManchaNavbar.png);
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        box-sizing: content-box;
    }

    /*&:visited {
        color: white;
    }*/
}

.submenuNav {
    background-color: transparent;
    border: none; //Para sobrescribir las clases del bootstrap

    li {
        text-decoration: none;
        color: rgb(63, 0, 63);
        background-color: rgb(212, 143, 241);
        border-radius: 1rem;
        border-style: solid;
        border-color: rgb(212, 90, 212);
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: darkmagenta;

        &:hover {
            color: white;
        }
    }

    .buttonSubmenu {
        margin: 0;
        padding: 0;
    }
}

/* 4. Imágenes y vídeos*/
.imgInicio {
    width: 65rem;
    padding: 1.5rem;
}

.imgWidth {
    width: 100%;
    padding: 1.5rem;
}

.dimensionesVideos {
    width: 100%;
    border-radius: 2.5rem;
    display: flex;
    align-content: center;
    padding: 1rem;
}

.mainVideo {
    width: 50%;
    border-radius: 2.5rem;
    display: flex;
    align-content: center;
}

.nombresPropios {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 2rem;
    color: turquoise;
}

.imagenesPersonajes {
    margin: 3rem;
}

.styleList {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    margin-left: 4rem;
}


.buttonCarrouselLeft {
    width: 25%;
    height: 10%;
    background-image: url(../rsc/img/squidLeft.png);
    background-size: contain;
    animation: changeColor 10s infinite;
}

.buttonCarrouselRight {
    width: 25%;
    height: 10%;
    background-image: url(../rsc/img/squidRight.png);
    background-size: contain;
    animation: changeColor 10s infinite;
}

/* 5. Organizaciones de secciones*/

.borderSection {
    margin: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
}

.orgPersonajes {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.orgHistoria {
    display: flex;
    flex-direction: column;
}

.formContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.espaciado {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: rgba(212, 143, 241, 0.664);
    border-radius: 1rem;
    border-style: solid;
    border-color: rgb(212, 90, 212);
    padding: 1rem;
    margin: 0.5rem;
}

.orgContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textosPersonajes {
    text-align: center;
    color: darkmagenta;
}

.orgFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orgCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orgMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.backgroundMode {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 45%;

}

.orangePersonal {
    border-radius: 1rem;
    background-color: rgba(250, 90, 0, 0.35);
}

.bluePersonal {
    border-radius: 1rem;
    background-color: rgba(40, 81, 246, 0.35);
}

.purplePersonal {
    border-radius: 1rem;
    background-color: rgba(40, 81, 246, 0.35);
}

.pinkPersonal {
    border-radius: 1rem;
    background-color: rgba(249, 49, 149, 0.35);
}

.aquamarinePersonal {
    border-radius: 1rem;
    background-color: rgba(0, 200, 180, 0.35);
}

.yellowgreenPersonal {
    border-radius: 1rem;
    background-color: rgba(160, 204, 10, 0.35);
}

/*6. Organizacion Mancha Index*/

.orgUpIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.OrgManchaYTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mancha {
    background-image: url(../rsc/img/manchanaranja.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 46rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h2 {
        color: white;
    }
}

/* 7. Galería con grids*/
/* Esta es la galería que incorporé a la web. Le hice un responsive que es bastante mejorable, pero el resto de la web si es responsive */
.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "imagenUno imagenDos imagenTres"
        "imagenCuatro imagenCinco imagenSeis"
        "imagenSiete imagenOcho imagenNueve";
}

.imagenGaleria {
    filter: grayscale(80%);

    &:hover {
        filter: grayscale(0%);
        transform: scale(1.25);
        z-index: 1;
    }
}

.imagenGaleria {
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
    padding: 0.5rem;

    &:hover {
        filter: grayscale(0%);
        transform: scale(1.25);
        z-index: 1;
    }
}

.imagenUno {
    grid-area: imagenUno;
}

.imagenDos {
    grid-area: imagenDos;
}

.imagenTres {
    grid-area: imagenTres;
}

.imagenCuatro {
    grid-area: imagenCuatro;
}

.imagenCinco {
    grid-area: imagenCinco;
}

.imagenSeis {
    grid-area: imagenSeis;
}

/* 8. Cartas que voltean*/
.cards {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cards__body {
    min-width: 25rem;
    max-width: 25rem;
    min-height: 30rem;
    box-sizing: border-box;
}

.flipCard {
    background-color: transparent;
    height: 35rem;
    /* Es necesario una altura para que aparezca en la página */
    border: 0px;
    perspective: 300rem;
    /* Genera un efecto 3D */
}


.flipCardInner {
    /* Este contenedor nos posiciona los dos lados de la tarjeta */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
    transform: rotateY(180deg);
    /*transform: rotateX(180deg);*/
    /*si lo quieres con giro vertical*/
}


.flipCardFront,
.flipCardBack {
    /* Estructura básica de las dos caras */
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    padding: 1.2rem;
    max-width: 25rem;
    max-height: 30rem;
    background: linear-gradient(to bottom, rgba(135, 207, 235, 0.8), rgba(255, 255, 255, 0.5) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flipCardFront {
    border-width: 0.8rem;
    border-style: inset;
    border-color: skyblue;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
}

.flipCardBack {
    /* Estructura específica de la cara trasera */
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-width: 0.8rem;
    border-style: outset;
    border-color: skyblue;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.cards__image {
    width: 20rem;
    height: 20rem;
}

.cards__tittle {
    color: brown;
}

.cards__name {
    color: forestgreen;
}

/*9. Página de error 404*/
.errorBody {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    & .error404 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../rsc/img/manchaError.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: center;
        width: 80rem;
        height: 80rem;

        & p {
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            line-height: auto;
            color: floralwhite;
            font-size: 3rem;
            text-align: center;
            text-indent: 0.5rem;
            padding: 0 2rem 0 0;
        }
    }
}

/*10. Bucles, each, mapas y animaciones */

/*Este es el bucle que usé para crear el tamaño de todos los titulos de mi página web*/
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 4.5em/$i;
    }
}

/*Este es el each que usé para cambiar los iconos del footer*/
@each $icono in Twitter,
Instagram,
Youtube {
    .icono#{$icono} {
        background-image:url(../rsc/img/Icono#{$icono}.png);
        background-size: 100%;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 2rem 0 2rem;
    }
}


/*Este es el mapa que usé, para crear el sombreado en unas manchas que agregué al HTML de contacto*/
$colours: (Uno:green, Dos: deeppink, Tres:Blue, Cuatro:Red, Cinco:Yellow, Seis:Purple);

@each $nameColor,
$colorFilter in $colours {
    .mancha#{$nameColor} {
        filter: drop-shadow(2px 4px 6px $colorFilter);
        width: 25rem;
        height: 25rem;
    }

}

@keyframes changeColor {
    0% {
        filter:hue-rotate(0deg);
    }

    50% {
        filter:hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

/* 11. Media Querys de tamaños 320px - 400px - 550px - 835px - 1000px - 1233px*/

@media only screen and (min-width: 320px) {

    .orgUpIndex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .mainVideo {
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    .mancha {
        width: 23rem;
        height: 23rem;

        & h2 {
            font-size: 1rem;
            padding-right: 2rem;
        }
    }

    .imgInicio {
        width: 20rem;
        height: 20rem;
    }

    .imagenesPersonajes {
        width: 10rem;
        height: 10rem;
    }

    .backgroundMode {
        width: 75%;
    }

    #galeria {
        margin: 1rem;
    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "imagenUno"
            "imagenDos"
            "imagenTres"
            "imagenCuatro"
            "imagenCinco"
            "imagenSeis"
            "imagenSiete"
            "imagenOcho"
            "imagenNueve";
    }

    .errorBody {
        .error404 {
            & p {
                width: 18rem;
                font-size: 2rem;
            }
        }
    }

    .copyright {
        padding: 1rem 5rem;
        text-align: center;
    }

    @media only screen and (min-width: 400px) {

        .imgInicio {
            width: 30rem;
            height: 30rem;
        }

        .imagenesPersonajes {
            width: 20rem;
            height: 20rem;
        }

    }

    @media only screen and (min-width: 550px) {
        .imgInicio {
            width: 40rem;
            height: 40rem;
        }

        .imagenesPersonajes {
            width: 30rem;
            height: 30rem;
        }

        .errorBody {
            .error404 {
                & p {
                    width: 30rem;
                    font-size: 3rem;
                    line-height: normal;
                }
            }
        }

    }

    @media only screen and (max-width: 835px) {

        .button1 {
            display: flex;
            align-content: space-around;
            justify-content: center;
            margin: 1rem;

            &:visited {
                color: white;
            }
        }
    }

    @media only screen and (min-width: 835px) {
        .orgUpIndex {
            display: flex;
            flex-direction: column;
        }

        .OrgManchaYTitulo {
            padding-right: 3rem;
        }

        .mancha {
            width: 30rem;
            height: 30rem;

            & h2 {
                font-size: 1.3rem;
            }
        }

        #galeria {
            margin: 4rem;
        }

        .errorBody {
            .error404 {
                & p {
                    width: 50rem;
                    font-size: 4rem;
                    line-height: normal;
                }
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        .backgroundMode {
            width: 45%;
            flex-wrap: wrap;
        }

        .gridPadre {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "imagenUno imagenDos imagenTres"
                "imagenCuatro imagenCinco imagenSeis"
                "imagenSiete imagenOcho imagenNueve";
        }
    }

    @media only screen and (min-width: 1233px) {
        .orgUpIndex {
            display: flex;
            flex-direction: row;
        }

        .mainVideo {
            width: 50%;
        }
    }
}