/* Coolors Exported Palette - https://coolors.co/5e1f5e-692069-d459d4-ffffff-cc5200-931020-eca400-60afff-519072 */

/* CSS HEX */
--palatinate-purple: #5e1f5eff;
--midnight: #692069ff;
--fuchsia-crayola: #d459d4ff;
--white: #ffffffff;
--burnt-orange: #cc5200ff;
--carmine: #931020ff;
--marigold: #eca400ff;
--french-sky-blue: #60afffff;
--illuminating-emerald: #519072ff;

/* CSS HSL */
--palatinate-purple: hsla(300, 50%, 25%, 1);
--midnight: hsla(300, 53%, 27%, 1);
--fuchsia-crayola: hsla(300, 59%, 59%, 1);
--white: hsla(0, 0%, 100%, 1);
--burnt-orange: hsla(24, 100%, 40%, 1);
--carmine: hsla(353, 80%, 32%, 1);
--marigold: hsla(42, 100%, 46%, 1);
--french-sky-blue: hsla(210, 100%, 69%, 1);
--illuminating-emerald: hsla(151, 28%, 44%, 1);

/* SCSS HEX */
$palatinate-purple: #5e1f5eff;
$midnight: #692069ff;
$fuchsia-crayola: #d459d4ff;
$white: #ffffffff;
$burnt-orange: #cc5200ff;
$carmine: #931020ff;
$marigold: #eca400ff;
$french-sky-blue: #60afffff;
$illuminating-emerald: #519072ff;

/* SCSS HSL */
$palatinate-purple: hsla(300, 50%, 25%, 1);
$midnight: hsla(300, 53%, 27%, 1);
$fuchsia-crayola: hsla(300, 59%, 59%, 1);
$white: hsla(0, 0%, 100%, 1);
$burnt-orange: hsla(24, 100%, 40%, 1);
$carmine: hsla(353, 80%, 32%, 1);
$marigold: hsla(42, 100%, 46%, 1);
$french-sky-blue: hsla(210, 100%, 69%, 1);
$illuminating-emerald: hsla(151, 28%, 44%, 1);

/* SCSS RGB */
$palatinate-purple: rgba(94, 31, 94, 1);
$midnight: rgba(105, 32, 105, 1);
$fuchsia-crayola: rgba(212, 89, 212, 1);
$white: rgba(255, 255, 255, 1);
$burnt-orange: rgba(204, 82, 0, 1);
$carmine: rgba(147, 16, 32, 1);
$marigold: rgba(236, 164, 0, 1);
$french-sky-blue: rgba(96, 175, 255, 1);
$illuminating-emerald: rgba(81, 144, 114, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-right: linear-gradient(90deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-bottom: linear-gradient(180deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-left: linear-gradient(270deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-top-right: linear-gradient(45deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-bottom-right: linear-gradient(135deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-top-left: linear-gradient(225deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-bottom-left: linear-gradient(315deg, #5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);
$gradient-radial: radial-gradient(#5e1f5eff, #692069ff, #d459d4ff, #ffffffff, #cc5200ff, #931020ff, #eca400ff, #60afffff, #519072ff);